#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

welcome {
    background-color: darkmagenta;
}

section {
    background-color: darkmagenta;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: deepskyblue
}

h5 {
    color: white;
}

h6 {
    color: white;
}

p {
    color: deeppink;
}
